.input-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
    border-radius: 0.5rem;
    padding: 0rem 0.5rem;
}
.input-flex input{
    width: 100%;
    padding: 0.5rem;
    border: 0;
}
.input-flex input:focus{
    outline: none;
}