.input-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 95%;
  height: 45px;
  margin: 15px 40px;
  margin-left: 20px;
  box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
}
.input-flex input {
  width: 100%;
  padding: 0.5rem;
  border: 0;
}
.input-flex input:focus {
  /* outline: none; */
  cursor: pointer;
}
.sorting {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}
.csv {
  gap: 20px;
}

.exportcsv {
  background-color: blue;
  color: whitesmoke;
  padding: 6px;
  box-sizing: border-box;
  border: none;
  height: 38px;
  width: 120px;
  border-radius: 4px;
}
.table {
  margin: 20px;
}
.different {
  height: 30px;
  width: 120px;
  background-color: blue;
  color: whitesmoke;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  height: 20px;
  margin-left: 20px;
  /* position: relative; */
  /* margin-top: 6px; */
  border-radius: 4px;
  /* width: 50px; */
  /* width: 120px; */
}
